<div class="spacing" data-ui-animate="" data-ng-init="section='Part 3:5 3X CTA'; step='Step 5: The Grand Offer'; video='5-3XCTA.mp4'">
    <header>
        <h3>{{title}}</h3>
    </header>

        <div style="text-align: center; margin: 0 auto;">
            <iframe src="http://player.vimeo.com/video/67479454" width="500" height="379" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowfullscreen data-ng-hide="hasScriptGenerator && !hasVsl"></iframe>
	        </div>

    <h5><a href="javascript: void(0);" data-prevent-default="" data-target=".tutorial" data-toggle="collapse"><span class="pull-right">&#x25BC;</span> Overview</a></h5>
    <div class="collapse in tutorial">

        <p>Your second CTA, only this time we emphasize access time and/or service time. <strong>Note</strong>: only use slide two if you have a digital product that does have immediate access upon purchase. Otherwise, take the cues from the video tutorial on what to say. </p>
    </div>
    <div data-ng-show="hasGenerator || hasScriptGenerator"><h5><a href="javascript: void(0);" data-target=".slides-to-create" data-toggle="collapse"><span class="pull-right">&#x25BC;</span>Slides To Create</a></h5>
    <div class="collapse in slides-to-create">
        <ul>
            <li>3X CTA (3 slides)</li>
        </ul>

        <div style="margin: 0 auto;">
                        <div>
                Effective Power Words and Power Phrases<br />
                <select id="usp-power-phrases" data-dropdown-to-text="generator-area">
<optgroup label="Power Words">
<option>Select...</option>
<option>Absolutely</option>
<option>Accomplish</option>
<option>Achieve</option>
<option>Advice</option>
<option>Agony</option>
<option>Alert</option>
<option>Alluring</option>
<option>Amazing</option>
<option>Approved</option>
<option>Arrogant</option>
<option>Astonishing</option>
<option>Attractive</option>
<option>Authentic</option>
<option>Automatically</option>
<option>Avalanche</option>
<option>Avenge</option>
<option>Banned</option>
<option>Beautiful</option>
<option>Better</option>
<option>Big</option>
<option>Blissful</option>
<option>Bonanza</option>
<option>Boost</option>
<option>Bottom Line</option>
<option>Breakthrough</option>
<option>Bright</option>
<option>Burned</option>
<option>Challenge</option>
<option>Choice</option>
<option>Clear-cut</option>
<option>Colossal</option>
<option>Comfortable</option>
<option>Compare</option>
<option>Compelling</option>
<option>Competitive</option>
<option>Complete</option>
<option>Completely</option>
<option>Compromise</option>
<option>Confidential</option>
<option>Conspiracy</option>
<option>Controversial</option>
<option>Crammed</option>
<option>Critical</option>
<option>Crucial</option>
<option>Cruel</option>
<option>Cure</option>
<option>Daring</option>
<option>Dazzling</option>
<option>Definite</option>
<option>Delightful</option>
<option>Delivered</option>
<option>Destiny</option>
<option>Direct</option>
<option>Discover </option>
<option>Download</option>
<option>Easily</option>
<option>Easy</option>
<option>Edge</option>
<option>Emerging</option>
<option>Empower</option>
<option>Endorsed</option>
<option>Energize</option>
<option>Energy</option>
<option>Enormous</option>
<option>Excellent</option>
<option>Exciting </option>
<option>Exclusive</option>
<option>Expert</option>
<option>Exploit</option>
<option>Exposed</option>
<option>Famous</option>
<option>Fascinating</option>
<option>Floundering</option>
<option>Flush</option>
<option>Focus</option>
<option>Fortune</option>
<option>Full</option>
<option>Fundamentals</option>
<option>Genuine</option>
<option>Gigantic</option>
<option>Greatest</option>
<option>Growth</option>
<option>Guaranteed</option>
<option>Hate</option>
<option>Helpful</option>
<option>Helpless</option>
<option>High Tech</option>
<option>Highest</option>
<option>How To</option>
<option>Huge</option>
<option>Hurry</option>
<option>Imagination</option>
<option>Immediately</option>
<option>Important</option>
<option>Improved</option>
<option>Increase</option>
<option>Informative</option>
<option>Innovative</option>
<option>Insider</option>
<option>Instantly</option>
<option>Instructive</option>
<option>Interesting</option>
<option>Introducing</option>
<option>Just Arrived</option>
<option>Keep</option>
<option>Killer</option>
<option>Know-How</option>
<option>Largest</option>
<option>Last Chance</option>
<option>Last Minute</option>
<option>Latest</option>
<option>Launching</option>
<option>Lavishly</option>
<option>Liberal</option>
<option>Lifetime</option>
<option>Limited</option>
<option>Love</option>
<option>Lowest</option>
<option>Luxury</option>
<option>Magic</option>
<option>Mainstream</option>
<option>Mammoth</option>
<option>Mind-Blowing</option>
<option>Miracle</option>
<option>Monumental</option>
<option>Mouth-Watering</option>
<option>Natural</option>
<option>New</option>
<option>Now</option>
<option>Number-One</option>
<option>Obsession</option>
<option>Odd</option>
<option>Only </option>
<option>Opportunities</option>
<option>Outstanding</option>
<option>Overcome</option>
<option>Paralyzed</option>
<option>Payback</option>
<option>Perfection</option>
<option>Perks</option>
<option>Personalized</option>
<option>Perspective</option>
<option>Pioneering</option>
<option>Pointless</option>
<option>Popular</option>
<option>Portfolio</option>
<option>Powerful</option>
<option>Practical</option>
<option>Prefer</option>
<option>Preference</option>
<option>Private</option>
<option>Professional</option>
<option>Profitable</option>
<option>Promising</option>
<option>Proven</option>
<option>Provocative</option>
<option>Quality</option>
<option>Quick </option>
<option>Quickly</option>
<option>Rare</option>
<option>Rave</option>
<option>Reclaim</option>
<option>Reduced</option>
<option>Refundable</option>
<option>Reliable</option>
<option>Remarkable</option>
<option>Revealing </option>
<option>Reveals </option>
<option>Revisited</option>
<option>Revolutionary</option>
<option>Reward</option>
<option>Scarce</option>
<option>Secrets </option>
<option>Secure</option>
<option>Security</option>
<option>Seductive</option>
<option>Seize</option>
<option>Selected</option>
<option>Sensational</option>
<option>Serious</option>
<option>Sexy</option>
<option>Shocked</option>
<option>Shocking</option>
<option>Show</option>
<option>Simple</option>
<option>Simplified</option>
<option>Simplistic</option>
<option>Simply</option>
<option>Sizable</option>
<option>Sizzling</option>
<option>Skill</option>
<option>Skyrocket</option>
<option>Slash</option>
<option>Snowball</option>
<option>Soar</option>
<option>Solve</option>
<option>Special</option>
<option>Special Offer</option>
<option>Spotlight</option>
<option>Startling</option>
<option>Step-By-Step</option>
<option>Stop</option>
<option>Strange</option>
<option>Strong</option>
<option>Stunning</option>
<option>Sturdy</option>
<option>Successful</option>
<option>Suddenly</option>
<option>Superior</option>
<option>Sure Fire</option>
<option>Surging</option>
<option>Surprise</option>
<option>Surprising </option>
<option>Surrender</option>
<option>Survival</option>
<option>Swindle</option>
<option>Taboo</option>
<option>Technology</option>
<option>Terrific</option>
<option>Tested</option>
<option>The Truth About</option>
<option>Thrilled</option>
<option>Timely</option>
<option>Tired</option>
<option>Tremendous</option>
<option>Turn The Tables</option>
<option>Ultimate</option>
<option>Unconditional</option>
<option>Uncover</option>
<option>Understand</option>
<option>Undo</option>
<option>Unique</option>
<option>Unleash</option>
<option>Unlimited</option>
<option>Unlock</option>
<option>Unparalleled</option>
<option>Unreal</option>
<option>Unsurpassed</option>
<option>Unusual</option>
<option>Urgent</option>
<option>Useful</option>
<option>Valuable</option>
<option>Value</option>
<option>Value-Added</option>
<option>Vibrant</option>
<option>Vital</option>
<option>Vivid</option>
<option>Vow</option>
<option>Want</option>
<option>Wanted</option>
<option>Wealth</option>
<option>Weird</option>
<option>Willpower</option>
<option>Winning</option>
<option>Wonderful</option>
<option>Worth</option>
<option>Yes</option>
</optgroup>

<optgroup label="Power Phrases">
<option>An Absolutely Weird Tip</option>
<option>One Very Unique Way</option>
<option>One Strange But Effective Technique</option>
<option>One Very Compelling Tip</option>
<option>The Single Most Critical Thing</option>
<option>A Killer Way</option>
<option>A Simple, Mind-Blowing Technique</option>
<option>A Miracle Formula For</option>
<option>The Number-One Reason Why</option>
<option>A Powerful, Proven Technique</option>
<option>A Racy, Provocative Tip</option>
<option>The Secret Way</option>
<option>A Shocking, Age-Old Way</option>
<option>An Effective, Simple Way</option>
<option>A Very Special And Unique Trick</option>
<option>One Startling Secret About</option>
<option>The Hidden Step-By-Step Formula For</option>
<option>One Unusual, Dirty Trick</option>
<option>A Remarkable Way To</option>
<option>A Fast And Easy Way To </option>
<option>The Most Amazing Trick For</option>
<option>The Quick But Genius Trick For</option>
<option>A Mysterious Discovery</option>
<option>A Sneaky But Ethical Way</option>
<option>The Most Surprisingly Simple Thing</option> 
<option>A Better Way To</option>
<option>The New Breakthrough Discovery In</option>
<option>An Extraordinary Discovery For</option>
<option>The Absolute Worst Way To</option>
<option>An Award Winning System For</option>
<option>A Simple Way To Instantly</option>
<option>A Little-Known Way To</option>
<option>A Completely Unheard Of Trick For</option>
<option>A Simple, Never Before Revealed Way</option>
<option>The “Magic Pill Solution” For</option>
<option>A “Magic Bullet Tip” </option>	
</optgroup>
                </select>
            </div>
            <div>
                Example Slides <br />
                <select id="Select1" data-dropdown-to-text="generator-area">
                    <option>Choose Example</option>
                    <optgroup label="Slide 1">
                        <option>Click on the (COLOR) button that says (TEXT FOR YOUR BUTTON) and lock in your discounted price today...</option>
                        <option>For INSTANT ACCESS to everything, Click on the (COLOR) button that says (TEXT FOR YOUR BUTTON) NOW...</option>
                        <option>Click the (COLOR) (SHAPE) button below for INSTANT ACESS... no delays, no waiting... and let's get you started TODAY...</option>
                    </optgroup>
                    <optgroup label="Slide 2">
                        <option>You'll be granted immediate access to everything: (PRODUCT/SERVICE), and all the bonuses... PLUS:</option>
                        <option>Within literally a few minutes, you'll have everything at your fingertips: the entire (PRODUCT/SERVICE) System, inside the secure members area...</option>
                        <option>No shipping costs... no delays... you'll have immediate access to every feature of (PRODUCT/SERVICE) without delay... PLUS:</option>
                    </optgroup>
                    <optgroup label="Slide 3">
                        <option>Your FREE "Super Bonus": (NAME OF SUPER BONUS), which alone is worth over (VALUE OF SUPER BONUS)...</option>
                        <option>And this includes (NAME OF SUPER BONUS), which again has a retail value of (VALUE OF SUPER BONUS) by itself...</option>
                        <option>Remember: this includes, today only, your "Super Bonus": (NAME OF SUPER BONUS), worth (VALUE OF SUPER BONUS)!</option>
                    </optgroup>
                </select>
            </div>
        </div>
    </div>

    <div data-ng-include="'/partial/generator/generator-form.html'"></div></div>
    <div class="continue">
        <a href="#/grand-offer/call-to-action/checkout-process" class="btn btn-success" data-ng-click="saveSlide()">Continue To Next Section &#x25B6;</a>
    </div>
</div>
