<div class="spacing" data-ui-animate="" data-ng-init="title='Email Formula: Part 2';">
    <header>
        <h3>{{title}}</h3>
    </header>
    <div data-ng-hide="hasEmail">
        You do not have permission to view this page. Buy Email Formula NOW!!! to gain access.
    </div>

    <div style="text-align: center; margin: 0 auto;" data-ng-show="hasEmail">
        <iframe src="http://player.vimeo.com/video/116785650" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen data-ng-hide="hasScriptGenerator && !hasVsl"></iframe>
    </div>

    <div>
        <strong>Transcripts/Downloads</strong>
        <ul>
            <li>
                <a target="_blank" href="http://app.ramirami.com/downloads/Email Formulas.pdf">Email Formulas</a>
            </li>
            <li>
                <a target="_blank" href="http://app.ramirami.com/downloads/The Email Formulas.pdf">The Email Formulas</a>
            </li>
            <li>
                <a target="_blank" href="http://app.ramirami.com/downloads/EmailExamples_SuperShort.pdf">Email Examples: Super Short</a></li>
        </ul>
    </div>
</div>