			<ul>
				<li>
                    <a href="http://ramirami.com/support/" target="_blank" class="jarvismetro-tile big-cubes bg-color-greenLight"> <span class="iconbox"> <i class="fa fa-life-ring fa-4x"></i> <span data-localize="Gallery">Support </span> </span> </a>
				</li>
				<li>
					<a href="http://ramirami.com/affiliates" target="_blank" class="jarvismetro-tile big-cubes bg-color-purple"> <span class="iconbox"> <i class="fa fa-users fa-4x"></i> <span data-localize="Maps">Affiliates</span> </span> </a>
				</li>
				<li>
					<a href="#/account" class="jarvismetro-tile big-cubes bg-color-pinkDark"> <span class="iconbox"> <i class="fa fa-user fa-4x"></i> <span data-localize="My Profile">My Account </span> </span> </a>
				</li>
				<li>
					<a href="#/" class="jarvismetro-tile big-cubes bg-color-blue" data-ng-click="logout()" data-prevent-default=""> <span class="iconbox"> <i class="fa fa-sign-out fa-4x"></i> <span data-localize="My Profile">Log Out </span> </span> </a>
				</li>
			</ul>