<div class="spacing" data-ui-animate="">
    <header>
        <h3>{{title}}</h3>
    </header>


    <div style="text-align: center; margin: 0 auto;">
        <iframe src="http://player.vimeo.com/video/67426865" width="500" height="379" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen data-ng-hide="hasScriptGenerator && !hasVsl"></iframe>
    </div>

    <div data-ng-show="hasGenerator">
        <h5><a href="javascript: void(0);" data-prevent-default="" data-target="#tutorial" data-toggle="collapse"><span class="pull-right">&#x25BC;</span> Overview</a></h5>
        <div id="tutorial" class="collapse in">
            <p>Your USP (Unique Selling Position) is what makes your product unique among your competitors. Ideally, it's an 'elevator pitch' that's between 20-25 words tops. It's not a mission statement. Without having a properly defined and well-honed USP, all of your sales, from VSLs to sales pages to emails, will fall short of what you desire.</p>

        </div>

        <h5><a href="javascript: void(0);" data-prevent-default="" data-target="#assignments" data-toggle="collapse"><span class="pull-right">&#x25BC;</span> Assignment</a></h5>
        <div id="assignments" class="collapse in">
            <p>Craft your USP for use within your VSL. I'll cover where to use it in the tutorial videos within the 5-Step Formula. Having your USP in mind, and using my USP Factory Formula to create it, will inspire your tips, your Snap Suggestion, and the ideal way to approach selling your product.</p>
            <p><strong>Action Steps</strong> (Write In Your Notepad Below)</p>
            <ol>
                <li>What are the top 3 problems your product or service solves for your customer?</li>
                <li>Out of these, what is the <strong>primary</strong> problem your product or service solves, preferably one that makes your product or service unique among your competitors?</li>
                <li>Use the USP Formula below, along with the information from the Overview tutorial video, to craft your USP. You will use this later within your VSL or sales letter.</li>
            </ol>
        </div>

        <h5><a href="javascript: void(0);" data-prevent-default="" data-target="#usp-power-phrase" data-toggle="collapse"><span class="pull-right">&#x25BC;</span>
            Usp Formula Power Phrase (What The Product/Service Is) + Benefit Phrase + Enabler Phase</a></h5>
        <div id="usp-power-phrase" class="collapse in">
            <ul>
                <li><i>See video tutorial for details.</i></li>
            </ul><br />


            <div style="margin: 0 auto;">
               
                    <strong>Example USP Power Phrases</strong><br />
                    <select id="usp-power-phrases" class="form-control" data-dropdown-to-text="note-area">
                        <option>Choose Example</option>
                        <option>The Only</option>
                        <option>The First</option>
                        <option>The World's Best</option>
                        <option>The World's Finest</option>
                        <option>The World's First And Only</option>
                        <option>The Easiest</option>
                        <option>The Most Efficient</option>
                        <option>The Smartest Way To</option>
                        <option>The Quickest Way To</option>
                        <option>The Simplest Path To</option>
                        <option>The Ultimate</option>
                        <option>(Feel free to create your own!)</option>
                    </select>
                </div><br />
                
                    <strong>Example USP Benefit Phrases</strong><br />
                    <select class="form-control" data-dropdown-to-text="note-area">
                        <option>Choose (Edit For Your Needs)</option>
                        <option>Eat Your Favorite Foods</option>
                        <option>Earn Cash Just By Sending Emails</option>
                        <option>Exterminate Your Home Without Odor</option>
                        <option>Learn How To Drive Without Leaving Your Home</option>
                        <option>Discover Scuba In The Privacy Of Your Home</option>
                        <option>Let Others Help You Build Your Practice</option>
                        <option>Make Others Drive Free Traffic For You</option>
                        <option>Protect Your Child With A Push Of A Button</option>
                        <option>(Feel free to create your own!)</option>
                    </select>
                </div><br />
              
                    <strong>Example USP Enabler Phrases</strong><br />
                    <select class="form-control" data-dropdown-to-text="note-area">
                        <option>Choose (Edit For Your Needs)</option>
                        <option>And Still Lose Weight</option>
                        <option>Without Quitting Your Day Job</option>
                        <option>Without Leaving Your Home</option>
                        <option>And Never Work More Than An Hour A Day</option>
                        <option>And Get Rid Of X For Good!</option>
                        <option>And Still Master X</option>
                        <option>And Cut Your Work Stress In Half</option>
                        <option>While You Sit Back And Earn More Cash</option>
                        <option>And Rest Easy While Enjoying More Peace Of Mind</option>
                        <option>(Feel free to create your own!)</option>
                    </select>
                </div><br />
                <div class="clearfix">&nbsp;</div>
            </div>
        </div>
        <div data-ng-include="'/partial/notepad/note-form.html'"></div>
    </div>
    <div class="continue">
        <a href="#/notepad/2-stories" class="btn btn-success" data-ng-click="saveNote()">Continue To Next Section &#x25B6;</a>
    </div>
</div>
