<div class="spacing" data-ui-animate="" data-ng-init="section='Part 2:2 Benefit Formula'; step='Step 1: The SNAP Suggestion'; video='3-TheBigPromise-Step2.mp4'">
    <header>
        <h3>{{title}}</h3>
    </header>

        <div style="text-align: center; margin: 0 auto;">
            <iframe src="http://player.vimeo.com/video/67441687" width="500" height="379" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowfullscreen data-ng-hide="hasScriptGenerator && !hasVsl"></iframe>
	        </div>
	        
    <h5><a href="javascript: void(0);" data-prevent-default="" data-target=".tutorial" data-toggle="collapse"><span class="pull-right">&#x25BC;</span> Overview</a></h5>
    <div class="collapse in tutorial">

        <p>You now create some vague yet compelling tips as a <cite>promise</cite> to the viewer. These are the tips and tactics they'll discover by watching your VSL or reading your sales letter all the way to the end. Think of 2-3 tips (or more if you wish) that you want to share with the viewer. Then extract the primary <strong>benefits</strong> of those tips to the user. See the video tutorial for specific examples.</p>
    </div>
    <div data-ng-show="hasGenerator || hasScriptGenerator"><h5><a href="javascript: void(0);" data-target=".slides-to-create" data-toggle="collapse"><span class="pull-right">&#x25BC;</span>Slides/Paragraphs To Create</a></h5>
    <div class="collapse in slides-to-create">
        <ul>
            <li><i class="fa fa-check"></i> Positive Benefit With Power Words // WITHOUT // Negative Effects (2-5 slides; no less than 2 and no more than 5 tips is suggested)<br />
            </li>
            <li><i class="fa fa-check"></i> At least one AVOID tip (1-2 slides)</li>
        </ul>
        <div style="margin: 0 auto;">
            <div><br />
                <strong>Power Words and Power Phrases</strong> <br />
                <select id="usp-power-phrases" class="form-control" data-dropdown-to-text="generator-area">
<optgroup label="Power Words: Adverbs">
<option>Select...</option>
<option>absolutely</option>
<option>automatically</option>
<option>completely</option>
<option>easily</option>
<option>immediately</option>
<option>instantly</option>
<option>just arrived</option>
<option>lavishly</option>
<option>quickly</option>
<option>simply</option>
<option>suddenly</option>
<option>timely</option>
</optgroup>
<optgroup label="Power Words: Adjectives">
<option>alluring</option>
<option>amazing</option>
<option>approved</option>
<option>arrogant</option>
<option>astonishing</option>
<option>attractive</option>
<option>authentic</option>
<option>banned</option>
<option>beautiful</option>
<option>better</option>
<option>big</option>
<option>blissful</option>
<option>bright</option>
<option>burned</option>
<option>clear-cut</option>
<option>colossal</option>
<option>comfortable</option>
<option>compelling</option>
<option>competitive</option>
<option>complete</option>
<option>confidential</option>
<option>controversial</option>
<option>crammed</option>
<option>critical</option>
<option>crucial</option>
<option>cruel</option>
<option>daring</option>
<option>dazzling</option>
<option>definite</option>
<option>delightful</option>
<option>delivered</option>
<option>delivered</option>
<option>direct</option>
<option>easy</option>
<option>emerging</option>
<option>endorsed</option>
<option>enormous</option>
<option>excellent</option>
<option>exciting</option>
<option>exclusive</option>
<option>exposed</option>
<option>famous</option>
<option>fascinating</option>
<option>floundering</option>
<option>full</option>
<option>genuine</option>
<option>gigantic</option>
<option>guaranteed</option>
<option>helpful</option>
<option>helpless</option>
<option>huge</option>
<option>important</option>
<option>improved</option>
<option>informative</option>
<option>innovative</option>
<option>instructive</option>
<option>interesting</option>
<option>liberal</option>
<option>limited</option>
<option>mammoth</option>
<option>mind-blowing</option>
<option>monumental</option>
<option>mouth-watering</option>
<option>new</option>
<option>only</option>
<option>outstanding</option>
<option>paralyzed</option>
<option>personalized</option>
<option>pointless</option>
<option>popular</option>
<option>powerful</option>
<option>practical</option>
<option>profitable</option>
<option>promising</option>
<option>proven</option>
<option>provocative</option>
<option>quick</option> 
<option>rare</option>
<option>reduced</option>
<option>refundable</option>
<option>reliable</option>
<option>remarkable</option>
<option>revealing</option>
<option>revisited</option>
<option>revolutionary</option>
<option>scarce</option>
<option>secret</option>
<option>secure</option>
<option>seductive</option>
<option>selected</option>
<option>sensational</option>
<option>serious</option>
<option>sexy</option>
<option>shocked</option>
<option>shocking</option>
<option>simple</option>
<option>simplistic</option>
<option>simplified</option>
<option>sizable</option>
<option>sizzling</option>
<option>special</option>
<option>startling</option>
<option>strange</option>
<option>strong</option>
<option>stunning</option>
<option>sturdy</option>
<option>successful</option>
<option>superior</option>
<option>sure fire</option>
<option>surging</option>
<option>surprising</option>
<option>terrific</option>
<option>tested</option>
<option>thrilled</option>
<option>tired</option>
<option>tremendous</option>
<option>ultimate</option>
<option>unconditional</option>
<option>unique</option>
<option>unlimited</option>
<option>unparalleled</option>
<option>unreal</option>
<option>unsurpassed</option>
<option>unusual</option>
<option>urgent</option>
<option>useful</option>
<option>valuable</option>
<option>value-added</option>
<option>vibrant</option>
<option>vital</option>
<option>vivid</option>
<option>wanted</option>
<option>weird</option>
<option>winning</option>
<option>wonderful</option>
</optgroup>
<optgroup label="Power Words: Nouns">
<option>advice</option>
<option>agony</option>
<option>avalanche</option>
<option>bonanza</option>
<option>boost</option>
<option>bottom line</option>
<option>breakthrough</option>
<option>challenge</option>
<option>choice</option>
<option>compromise</option>
<option>conspiracy</option>
<option>cure</option>
<option>destiny</option>
<option>download</option>
<option>edge</option>
<option>energy</option>
<option>expert</option>
<option>flush</option>
<option>focus</option>
<option>fortune</option>
<option>fundamentals</option>
<option>growth</option>
<option>high tech</option>
<option>imagination</option>
<option>increase</option>
<option>insider</option>
<option>killer</option>
<option>know-how</option>
<option>last chance</option>
<option>last minute</option>
<option>lifetime</option>
<option>love</option>
<option>luxury</option>
<option>magic</option>
<option>mainstream</option>
<option>miracle</option>
<option>number-one</option>
<option>obsession</option>
<option>opportunities</option>
<option>payback</option>
<option>perfection</option>
<option>perks</option>
<option>perspective</option>
<option>portfolio</option>
<option>preference</option>
<option>quality</option>
<option>reward</option>
<option>secrets</option>
<option>security</option>
<option>skill</option>
<option>special offer</option>
<option>spotlight</option>
<option>step-by-step</option>
<option>surprise</option>
<option>survival</option>
<option>taboo</option>
<option>technology</option>
<option>the truth about</option>
<option>value</option>
<option>wealth</option>
<option>willpower</option>
<option>worth</option>
</optgroup>
<optgroup label="Power Words: Verbs">
<option>accomplish</option>
<option>achieve</option>
<option>alert</option>
<option>avenge</option>
<option>boost</option>
<option>compare</option>
<option>cure</option>
<option>discover</option>
<option>download</option>
<option>empower</option>
<option>energize</option>
<option>exploit</option>
<option>flush</option>
<option>focus</option>
<option>hate</option>
<option>hurry</option>
<option>increase</option>
<option>introducing</option>
<option>keep</option>
<option>launching</option>
<option>love</option>
<option>overcome</option>
<option>prefer</option>
<option>rave</option>
<option>reclaim</option>
<option>reveals</option>
<option>reward</option>
<option>seize</option>
<option>show</option>
<option>slash</option>
<option>snowball</option>
<option>soar</option>
<option>solve</option>
<option>stop</option>
<option>surprise</option>
<option>surrender</option>
<option>swindle</option>
<option>turn the tables</option>
<option>uncover</option>
<option>understand</option>
<option>undo</option>
<option>unleash</option>
<option>unlock</option>
<option>value</option>
<option>vow</option>
<option>want</option>
</optgroup>
<optgroup label="Power Words: Superlatives">
<option>greatest</option>
<option>highest</option>
<option>largest</option>
<option>latest</option>
<option>lowest</option>
</optgroup>
<optgroup label="Power Words: Action Words">
<option>act now</option>
<option>how-to</option>
<option>now</option>
<option>take action</option>
<option>seize</option>
<option>yes</option>
</optgroup>

<optgroup label="Power Phrases">
<option>an absolutely weird tip</option>
<option>one very unique way</option>
<option>one strange but effective technique</option>
<option>one very compelling tip</option>
<option>the single most critical thing</option>
<option>a killer way</option>
<option>a simple, mind-blowing technique</option>
<option>a miracle formula for</option>
<option>the number-one reason why</option>
<option>a powerful, proven technique</option>
<option>a racy, provocative tip</option>
<option>the secret way</option>
<option>a shocking, age-old way</option>
<option>an effective, simple way</option>
<option>a very special and unique trick</option>
<option>one startling secret about</option>
<option>the hidden step-by-step formula for</option>
<option>one unusual, dirty trick</option>
<option>a remarkable way to</option>
<option>a fast and easy way to </option>
<option>the most amazing trick for</option>
<option>the quick but genius trick for</option>
<option>a mysterious discovery</option>
<option>a sneaky but ethical way</option>
<option>the most surprisingly simple thing</option> 
<option>a better way to</option>
<option>the new breakthrough discovery in</option>
<option>an extraordinary discovery for</option>
<option>the absolute worst way to</option>
<option>an award winning system for</option>
<option>a simple way to instantly</option>
<option>a little-known way to</option>
<option>a completely unheard of trick for</option>
<option>a simple, never before revealed way</option>
<option>the “magic pill solution” for</option>
<option>a “magic bullet tip” </option>	
</optgroup>
                </select>
            </div>
            <div><br />
            <strong>Example Slides And Paragraphs</strong>
                <br />
                <select id="Select1" class="form-control" data-dropdown-to-text="generator-area">
                    <option>Select…</option>
                    <optgroup label="Benefit Tips">
                        <option>How to (BENEFIT) without (NEGATIVES)...(example slides below)  </option>
                        <option value="" disabled="disabled">┈┈┈┈</option>
                        <option>How to lose more weight faster without having to give up your favorite foods, or do hours of cardio...</option>
                        <option>How you can earn more money this month than you have in the past year, without feeling as if you're working two jobs, AND without risk...</option>
                        <option>Exactly how you can earn 30% more from your investments each year without risking your nest egg...</option>
                        <option>How to attract your ideal mate without risking rejection or having to memorize lame pick-up lines...</option>
                        <option>How to survive the upcoming U.S. apocalypse without arousing suspicion from your pesky neighbors... </option>

                        <option>The number 1 secret to lasting love and great sex without feeling trapped, bored, or frustrated...</option>
                        <option>The most powerful and effective way to earn more cash and experience true financial freedom without fear of losing your current job, and without financial risk&hellip;</option>
                        <option>An under-the-radar method of attracting your dream (TOPIC) without sacrificing your lifestyle or your bank account...</option>
                        <option>A back-door secret previously only known those on the inside that lets you avoid (NEGATIVE) and (NEGATIVE)...</option>
                        <option>A superior yet little-known method of increasing your (BENEFIT) while decreasing your (NEGATIVE) and (NEGATIVE)...</option>
												<option>A little-known method of increasing (BENEFIT) without (NEGATIVES)...</option>
                        <option>The fastest way on earth to increase your (BENEFIT) without (NEGATIVES)...</option>
                        <option value="" disabled="disabled">┈┈┈┈</option>
                    </optgroup>
                    <optgroup label="Avoid Tips">
                        <option>The top 5 (THINGS/STRATEGIES) you must AVOID if you want (BENEFITS)...</option>
                        <option>The 3 most dangerous mistakes most people make when trying to (BENEFIT)...and how YOU can AVOID them</option>
                        <option>The number 1 KILLER when it comes to (BENEFIT) and why you must AVOID this at all costs (note: this is a mistake even PROS make, and it will ruin your chances for success!)...</option>
                        <option>Why you MUST AVOID this 1 common habit if you want to achieve (BENEFITS)...</option>
                        <option>Most people think this one 'tried and true' strategy/technique/habit/method is the best way to get (BENEFIT)...you'll discover why you must AVOID IT at all costs if you want to succeed!</option>
                        <option>Why avoiding this one common strategy/technique/habit/method of (TOPIC) can skyrocket your success by over 200%...</option>
	                        </optgroup>
                </select>
            </div>
        </div>
    </div>
<br />
    <div data-ng-include="'/partial/generator/generator-form.html'"></div></div>
    <div class="continue">
        <a href="#/snap-suggestion/video-scarcity" class="btn btn-success" data-ng-click="saveSlide()">Continue To Next Section &#x25B6;</a>
    </div>
</div>
