<div class="spacing" data-ui-animate="" data-ng-init="month='Issue 2'; person='Dan Rose, #1 YouTube Traffic Expert';">
    <header>
        <h3>{{title}}</h3>
    </header>

    <div style="text-align: center; margin: 0 auto;" data-ng-hide="hasTrafficPros">
        <p>You do not have Traffic Pros Monthly added to your account.  <a href="https://ramirami.com/upgrades/trafficpros.html?firstnamepar={{user.firstName}}&amp;lastnamepar={{user.lastName}}&amp;emailpar={{user.email}}" target="_blank">Add It Now!</a></p>
    </div>

    <div style="text-align: center; margin: 0 auto;" data-ng-show="hasTrafficPros">
        <iframe src="http://player.vimeo.com/video/75347411" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

    <ul style="list-style: none;" data-ng-show="hasTrafficPros">
        <li><a href="http://53fe55a82bef3afebf73-1337ae5e10de8c77a758a83d63267cdf.r87.cf1.rackcdn.com/TPM_Rose_Transcript.pdf" target="_blank">Download the transcript</a></li>
    </ul>

    <div data-ng-show="hasTrafficPros">
        <p>This month's Traffic Pros features the top YouTube traffic guy, Dan Rose. Dan and his partner, Mike Chang, have the number one fitness site on all of YouTube -- and they did it without a budget, spending less than $300 a month to start, and built a multi-million dollar business in less than three years. </p>

        <p>To give you an idea of how powerful these strategies are, we show you the top-viewed YouTube video for the largest fitness company in the world (over a billion in net revenue) versus Dan and Mike's home-made YouTube videos (several of them), which are used to give information and drive targeted leads to their 3X-style VSL. Their video(s) have almost twice as many views -- almost 12 million for one alone! </p>

        <p>These secrets can be the great equalizer, allowing smaller marketers to seize control over their much larger competition, and drive crazy traffic to your VSL.</p>

        <p>Dan reveals ALL of his free and inexpensive traffic tips for YouTube, and exactly how you can use YouTube to drive a lot of qualified leads to your VSL! This is by far the most in-depth interview Dan has ever given on traffic, YouTube secrets, and VSLs, so be sure to take notes.</p>
    </div>
</div>