<div class="spacing" data-ui-animate="" data-ng-init="month='Issue 3'; person='Mike Litman, Buying Cheap Email Traffic';">
    <header>
        <h3>{{title}}</h3>
    </header>

    <div style="text-align: center; margin: 0 auto;" data-ng-hide="hasTrafficPros">
        <p>You do not have Traffic Pros Monthly added to your account.  <a href="https://ramirami.com/upgrades/trafficpros.html?firstnamepar={{user.firstName}}&amp;lastnamepar={{user.lastName}}&amp;emailpar={{user.email}}" target="_blank">Add It Now!</a></p>
    </div>

    <div style="text-align: center; margin: 0 auto;" data-ng-show="hasTrafficPros">
        <iframe src="http://player.vimeo.com/video/77474854" width="500" height="278" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

    <ul style="list-style: none;" data-ng-show="hasTrafficPros">
        <li><a href="http://7230a0da2b71a8407e34-c7cfbb35d91badbc9290f552c56163d7.r31.cf1.rackcdn.com/TMP_Litman_Transcript.pdf" target="_blank">Download the transcript</a></li>
    </ul>

    <div data-ng-show="hasTrafficPros">
        <p>Email traffic expert Mike Litman joins Jon Benson for this month's issue of Traffic Pros. Mike shares how newbies, intermediate-level, and advanced marketers can use paid email drops to both build a new list as well as radically increase traffic and sales to your VSL sales page!</p>
    </div>
</div>