<div class="spacing" data-ui-animate="">
    <header><h3>{{title}}</h3></header>

        <p><strong>Getting Started: USP Factory</strong></p>
    <ul>
        <li><a href="https://003e008fd6a16e541710-c7cfbb35d91badbc9290f552c56163d7.ssl.cf1.rackcdn.com/USPFactory_EmailSurvey.pdf" target="_blank">USP Factory Email Survey</a></li>
    </ul>
    <br />
    
    <p><strong>Mind Maps (ZIP Files)</strong></p>
    <ul>
        <li data-secure-download="" data-secure-file="MindMap-5-StepVSL-Step1-TheSnapSuggestion.zip" data-secure-text="Mind Map: The SNAP Suggestion (ZIP)"></li>
        <li data-secure-download="" data-secure-file="MindMap-5-StepVSL-Step2-TheVitalConnection.zip" data-secure-text="Mind Map: The Vital Connection (ZIP)"></li>
        <li data-secure-download="" data-secure-file="MindMap-5-StepVSL-Step3-TheBigProblem.zip" data-secure-text="Mind Map: The Big Problem (ZIP)"></li>
        <li data-secure-download="" data-secure-file="MindMap-5-StepVSL-Step4-TheBiggerSolution.zip" data-secure-text="Mind Map: The Bigger Solution (ZIP)"></li>
        <li data-secure-download="" data-secure-file="MindMap-5-StepVSL-Step5-TheGrandOffer.zip" data-secure-text="Mind Map: The Grand Offer (ZIP)"></li>
    </ul>
    <br />

    <p><strong>Mind Maps (PDF Files)</strong></p>
    <ul>
        <li data-secure-download="" data-secure-file="MindMap-5-StepVSL-Step1-TheSnapSuggestion.pdf" data-secure-text="Mind Map: The SNAP Suggestion"></li>
        <li data-secure-download="" data-secure-file="MindMap-5-StepVSL-Step2-TheVitalConnection.pdf" data-secure-text="Mind Map: The Vital Connection"></li>
        <li data-secure-download="" data-secure-file="MindMap-5-StepVSL-Step3-TheBigProblem.pdf" data-secure-text="Mind Map: The Big Problem"></li>
        <li data-secure-download="" data-secure-file="MindMap-5-StepVSL-Step4-TheBiggerSolution.pdf" data-secure-text="Mind Map: The Bigger Solution"></li>
        <li data-secure-download="" data-secure-file="MindMap-5-StepVSL-Step5-TheGrandOffer-Part1.pdf" data-secure-text="Mind Map: The Grand Offer - Part 1"></li>
        <li data-secure-download="" data-secure-file="MindMap-5-StepVSL-Step5-TheGrandOffer-Part2.pdf" data-secure-text="Mind Map: The Grand Offer - Part 2"></li>
        <li data-secure-download="" data-secure-file="MindMap-5-StepVSL-Step5-TheGrandOffer-Part3.pdf" data-secure-text="Mind Map: The Grand Offer - Part 3"></li>
        <li data-secure-download="" data-secure-file="MindMap-5-StepVSL-Step5-TheGrandOffer-Part4.pdf" data-secure-text="Mind Map: The Grand Offer - Part 4"></li>
        <li data-secure-download="" data-secure-file="MindMap-5-StepVSL-Step5-TheGrandOffer-Part5.pdf" data-secure-text="Mind Map: The Grand Offer - Part 5"></li>
    </ul>
    <br />

    <p><strong>Audio Transcripts</strong></p>
    <ul>
        <li class="pdf-icon"><a href="http://c3340795.r95.cf0.rackcdn.com/CreatingAWinningUSP.pdf" target="_blank">Creating A Winning USP</a></li>
        <li class="pdf-icon"><a href="http://c3340795.r95.cf0.rackcdn.com/Q&amp;A_USPFactory.pdf" target="_blank">Bonus Q&A: The USP Factory</a></li>  
        <li class="pdf-icon"><a href="http://c3340795.r95.cf0.rackcdn.com/1-2-3-Formula_NightmareStory.pdf" target="_blank">The Nightmare Story Tutorial</a></li>
        <li class="pdf-icon"><a href="http://c3340795.r95.cf0.rackcdn.com/1-2-3-Fomula_DreamStory.pdf" target="_blank">The Dream Story Tutorial</a></li>
        <li class="pdf-icon"><a href="http://c3340795.r95.cf0.rackcdn.com/3Tips_TheTipFormula.pdf" target="_blank">3 Tips, Part 1: The Tip Formula</a></li>
        <li class="pdf-icon"><a href="http://c3340795.r95.cf0.rackcdn.com/3Tips-Pt2-Examples.pdf" target="_blank">3 Tips, Part 2: Examples Of Tips & Structure</a></li>
        <li class="pdf-icon"><a href="http://c3340795.r95.cf0.rackcdn.com/4Comparisons.pdf" target="_blank">4 Comparisons</a></li>
        <li class="pdf-icon"><a href="http://c3340795.r95.cf0.rackcdn.com/3XVSL_Toolbox.pdf" target="_blank">The 3X VSL Toolbox</a></li>
        <li class="pdf-icon"><a href="http://c3340795.r95.cf0.rackcdn.com/BONUS_NightmareQ&amp;A.pdf" target="_blank">Nightmare Story Q &amp; A</a></li>
        <li class="pdf-icon"><a href="http://c3340795.r95.cf0.rackcdn.com/3Tips_TheTipFormula_BonusQA.pdf" target="_blank">3 Tips, Part 1: 3-Tip Loop and Tip Formula Bonus Q &amp; A</a></li>
        <li class="pdf-icon"><a href="http://c3340795.r95.cf0.rackcdn.com/Bonus3Tips_QA_Pt2.pdf" target="_blank">3 Tips, Part 2: 3-Tip Loop and Tip Formula Bonus Q &amp; A</a></li>
        <li class="pdf-icon"><a href="http://c3340795.r95.cf0.rackcdn.com/BonusLiveCaseStudies.pdf" target="_blank">Extended Bonus: Live Case Studies</a></li>
        <li class="pdf-icon"><a href="http://c3340795.r95.cf0.rackcdn.com/Step1_SnapSuggestionPt1.pdf" target="_blank">Step 1: The Snap Suggestion, Part 1</a></li>
        <li class="pdf-icon"><a href="http://c3340795.r95.cf0.rackcdn.com/Step1_SnapSuggestionPt2.pdf" target="_blank">Step 1: The Snap Suggestion, Part 2</a></li>
        <li class="pdf-icon"><a href="http://c3340795.r95.cf0.rackcdn.com/Step2_TheVitalConnection.pdf" target="_blank">Step 2: The Vital Connection</a></li>
        <li class="pdf-icon"><a href="http://c3340795.r95.cf0.rackcdn.com/Step3_BigProblem_Pt1.pdf" target="_blank">Step 3: The Big Problem, Part 1</a></li>
        <li class="pdf-icon"><a href="http://c3340795.r95.cf0.rackcdn.com/Step3_BigProblem_Pt2.pdf" target="_blank">Step 3: The Big Problem, Part 2</a></li>
        <li class="pdf-icon"><a href="http://c3340795.r95.cf0.rackcdn.com/Step4_BiggerSolution.pdf" target="_blank">Step 4: The Bigger Solution</a></li>
        <li class="pdf-icon"><a href="http://c3340795.r95.cf0.rackcdn.com/Step5_TheGrandOffer_ Part1.pdf" target="_blank">Step 5: The Grand Offer, Part 1</a></li>
        <li class="pdf-icon"><a href="http://c3340795.r95.cf0.rackcdn.com/Step5_TheGrandOffer_Part2.pdf" target="_blank">Step 5: The Grand Offer, Part 2</a></li>
        <li class="pdf-icon"><a href="http://c3340795.r95.cf0.rackcdn.com/Step5_TheGrandOffer_Part3.pdf" target="_blank">Step 5: The Grand Offer, Part 3</a></li>
        <li class="pdf-icon"><a href="http://c3340795.r95.cf0.rackcdn.com/Step5_TheGrandOffer_Part4.pdf" target="_blank">Step 5: The Grand Offer, Part 4</a></li>
        <li class="pdf-icon"><a href="http://c3340795.r95.cf0.rackcdn.com/Step5_TheGrandOffer_Part5.pdf" target="_blank">Step 5: The Grand Offer, Part 5</a></li>
        <li class="pdf-icon"><a href="http://c3340795.r95.cf0.rackcdn.com/Step5_TheGrandOffer_Part6.pdf" target="_blank">Step 5: The Grand Offer, Part 6</a></li>
        <li class="pdf-icon"><a href="http://c3340795.r95.cf0.rackcdn.com/Extra-Jons Site Navigation Tutorial.pdf" target="_blank">Extra: Jon's Site Navigation Tutorial</a></li>
        <li class="pdf-icon"><a href="http://c3340795.r95.cf0.rackcdn.com/BonusQA_SnapSuggestion_pt1.pdf" target="_blank">Bonus Q&A: The Snap Suggestion, Part 1</a></li>
        <li class="pdf-icon"><a href="http://c3340795.r95.cf0.rackcdn.com/BonusQA_SnapSuggestion_ Part2.pdf" target="_blank">Bonus Q&A: The Snap Suggestion, Part 2</a></li>
        <li class="pdf-icon"><a href="http://c3340795.r95.cf0.rackcdn.com/BonusQA_suggestion_connection.pdf" target="_blank">Bonus Q&A: Snap Suggestion + Vital Connection Extras</a></li>
	    <li class="pdf-icon"><a href="http://c3340795.r95.cf0.rackcdn.com/BonusQA_BigProblem_Pt1.pdf" target="_blank">Bonus Q&A: The Big Problem, Part 1</a></li>
	    <li class="pdf-icon"><a href="http://c3340795.r95.cf0.rackcdn.com/Step3_BigProblem_Part2_QA.pdf" target="_blank">Bonus Q&A: The Big Problem, Part 2</a></li>        
	    <li class="pdf-icon"><a href="http://c3340795.r95.cf0.rackcdn.com/BonusQA_problem_solution.pdf" target="_blank">Bonus Q&A: The Bigger Solution</a></li>
	    <li class="pdf-icon"><a href="http://c3340795.r95.cf0.rackcdn.com/BonusQA_bigproblem_biggersolution.pdf" target="_blank">Extended Q&A: The Big Problem and The Bigger Solution</a></li>
	    <li class="pdf-icon"><a href="http://c3340795.r95.cf0.rackcdn.com/BonusQA_Step5_TheGrandOffer_Pt1.pdf" target="_blank">Bonus Q&A: Step 5: The Grand Offer, Part 1</a></li>
	    <li class="pdf-icon"><a href="http://c3340795.r95.cf0.rackcdn.com/BonusQA_TheGrandOffer_2-3.pdf" target="_blank">Bonus Q&A: Step 5: The Grand Offer, Parts 2-3</a></li>
	    <li class="pdf-icon"><a href="http://c3340795.r95.cf0.rackcdn.com/BonusQA_Step5_TheGrandOffer_AllParts(Extended).pdf" target="_blank">Bonus Q&A: Step 5: The Grand Offer, All Parts (Extended)</a></li>
    </ul>
    <br />
    
    <p><strong>Other Downloads</strong></p>
    <ul>
        <li data-secure-download="" data-secure-file="3XVSL_CaseStudy.zip" data-secure-text="3X VSL Case Study"></li>
        <li data-secure-download="" data-secure-file="magic-button.zip" data-secure-text="Magic Buy Button Files"></li>
        <li><a href="http://7230a0da2b71a8407e34-c7cfbb35d91badbc9290f552c56163d7.r31.cf1.rackcdn.com/magic-button-wistia.zip">Magic Buy Button Files (Wistia)</a></li>
    </ul>
    <br />

    <p><strong>Sellerator Live Coaching Support Docs</strong></p>
    <ul>
        <li><a href="http://app.ramirami.com/downloads/Sellerator-Coaching-Week3-EnhancedRapport.PDF" target="_blank">Coaching Week 3 - Enhanced Rapport</a></li>
    </ul>
    <br />

    <div class="continue">
        <a href="#/snap-suggestion/pattern-interrupt" class="btn btn-success">Continue To Next Section &#x25B6;</a>
    </div>
</div>
