<div class="spacing" data-ui-animate="">
    <header>
        <h3>{{title}}</h3>
    </header>

    <div data-ng-show="hasGenerator">
        <p align="center"><strong>The 3X Sellerator Living Coaching Videos</strong><br />Click The Full Screen Icon At The Bottom Right Of The Video And Go To HD For Best Resolution</p>
        <div style="text-align: center; margin: 0 auto;">
            <h2>Updated Hook and Headline Workshop - Watch first!</h2>
            <div class="wistia_responsive_padding" style="padding: 56.25% 0 0 0; position: relative;">
                <div class="wistia_responsive_wrapper" style="height: 100%; left: 0; position: absolute; top: 0; width: 100%;">
                    <iframe src="http://fast.wistia.net/embed/iframe/g2bxfssxjx?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="100%" height="100%"></iframe>
                </div>
            </div>

            <h2>Live Training - Week 2 - Updated Snap Suggestion Workshop</h2>
            <div class="wistia_responsive_padding" style="padding: 56.25% 0 0 0; position: relative; margin-top: 20px;">
                <div class="wistia_responsive_wrapper" style="height: 100%; left: 0; position: absolute; top: 0; width: 100%;">
                    <iframe src="http://fast.wistia.net/embed/iframe/wp08xtvofd?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="100%" height="100%"></iframe>
                </div>
            </div>

            <h2>Live Training - Week 3 - Rapport Formula</h2>
            <div class="wistia_responsive_padding" style="padding: 56.25% 0 0 0; position: relative;">
                <div class="wistia_responsive_wrapper" style="height: 100%; left: 0; position: absolute; top: 0; width: 100%;"><iframe src="http://fast.wistia.net/embed/iframe/2kvkp9l960?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="100%" height="100%"></iframe>
                </div>
            </div>

            <h2>Live Training - Week 4 - The Big Problem</h2>
            <div class="wistia_responsive_padding" style="padding: 56.25% 0 0 0; position: relative;">
                <div class="wistia_responsive_wrapper" style="height: 100%; left: 0; position: absolute; top: 0; width: 100%;"><iframe src="http://fast.wistia.net/embed/iframe/ddx46wp8r1?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="100%" height="100%"></iframe>
                </div>
            </div>

            <h2>Live Training - Week 5 - The Bigger Solution and Updated 3 Tip Formula</h2>
            <div class="wistia_responsive_padding" style="padding: 56.25% 0 0 0; position: relative;">
                <div class="wistia_responsive_wrapper" style="height: 100%; left: 0; position: absolute; top: 0; width: 100%;"><iframe src="http://fast.wistia.net/embed/iframe/8s7gy527un?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="100%" height="100%"></iframe>
                </div>
            </div>

            <h2>Live Training - Week 6 - The Grand Offer</h2>
            <div class="wistia_responsive_padding" style="padding: 56.25% 0 0 0; position: relative;">
                <div class="wistia_responsive_wrapper" style="height: 100%; left: 0; position: absolute; top: 0; width: 100%;"><iframe src="http://fast.wistia.net/embed/iframe/keoii85hzc?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="100%" height="100%"></iframe>
                </div>
            </div>

            <h2>Live Training - Week 7 Q and A</h2>
            <div class="wistia_responsive_padding" style="padding: 56.25% 0 0 0; position: relative;">
                <div class="wistia_responsive_wrapper" style="height: 100%; left: 0; position: absolute; top: 0; width: 100%;"><iframe src="http://fast.wistia.net/embed/iframe/ix6zln940u?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="100%" height="100%"></iframe>
                </div>
            </div>


        </div>

        <p>&nbsp;</p>
        <div class="continue">
            <a href="#/getting-started/using-generator" class="btn btn-success">Continue To Next Section &#x25B6;</a>
        </div>
    </div>
</div>