<div class="spacing" data-ui-animate="">
    <header>
        <h3>{{title}}</h3>
    </header>

    <div data-ng-show="videoUrl">
        <h5><a href="javascript: void(0);" data-target="#video-player" data-toggle="collapse"><span class="pull-right">&#x25BC;</span>Video Tutorial</a></h5>
        <div style="text-align: center; margin: 0 auto;">
            <iframe src="http://player.vimeo.com/video/67436149" width="500" height="379" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen data-ng-hide="hasScriptGenerator && !hasVsl"></iframe>
            <p><a href="https://vimeo.com/user18042183/review/67436149/938c442da7" target="_blank">Open In A New Window</a></p>
        </div>
    </div>

    <p>In order to make the 3X VSL Formula Course as easy to navigate as possible, we have included on the next page a set of Mind Maps and tools to improve your experience.</p>

    <p>We suggest that you only download the Mind Map or tool(s) dealing with the specific section you are on within the 3X VSL Formula Course. You are welcome to download everything, but we find that focusing only on the Step or Section you are currently on creates a deeper learning experience.</p>


    <div class="continue">
        <a href="#/getting-started/downloads" class="btn btn-success">Continue To Next Section &#x25B6;</a>
    </div>
</div>
