<div class="spacing" data-ui-animate="">
    <header>
        <h3>{{title}}</h3>
    </header>

<p align="center"><strong>The 3X Sellerator Tutorial Series</strong><br />Click The Full Screen Icon At The Bottom Right Of The Video And Go To HD For Best Resolution</p>
    <div style="text-align: center; margin: 0 auto;">
        <iframe width="560" height="315" src="http://www.youtube.com/embed/videoseries?list=PLobXq5sR3AkkHt4FJn2SnITc1xtH-18zF" frameborder="0" allowfullscreen></iframe>

    </div>

    <p>&nbsp;</p>
    <div class="continue">
        <a href="#/getting-started/toolbox" class="btn btn-success">Continue To Next Section &#x25B6;</a>
    </div>
</div>
