<div class="spacing" data-ui-animate="">
    <header><h3>{{title}}</h3></header>
    <div style="width: 100%; text-align: center; font-size: 16px;">
       
            <a href="https://ramirami.com/" target="_blank" style="border: none;">
                <img src="../Content/images/Sellerator-UpgradeImage.jpg" />
            </a>

            <p style="margin-top: 10px; margin-bottom: 20px;"><a href="https://ramirami.com/" target="_blank" style="font-size: 18px; text-decoration: underline;">Click Here To Read More And Upgrade For A Discount!</a></p>

            <h3>How To Access Your Products</h3>
            <p style="margin-top: 20px;">
                STEP 1 <br />
                Look to the left and you will see the gray bar.
            </p>

            <p style="margin-top: 20px;">
                STEP 2 <br />
                Find the product you ordered or the bonus you were given. (Note: you will not have access to the Sellerator or the other bonuses unless you upgrade using the link above.)
            </p>

            <!--<p style="margin-top: 20px;">STEP 3 <br />
        If you ordered more than one product (an upgrade or an additional item), please allow a few hours for our team to process your order. You can logout of The Generator software by clicking the “LOGOUT” button at the bottom left, then refresh your browser, log back in, and in a few hours all of the products you ordered should be accessible from the left-hand navigation panel. </p>
            -->

            <h3 style="margin-top: 20px;">Need Help? </h3>
            <p>Contact our friendly Customer Support Staff at <a href="mailto:support@ramirami.com">support@ramirami.com</a>. Thank you!</p>
</div>
    <p>&nbsp;</p>
</div>
