<div data-ui-animate="">
    <header>
        <h3>{{title}}</h3>
    </header>

    <div data-ng-show="!passwordChanged">
        <p>Need to change your password? <a href="mailto:leeann@ramirami.com?subject=change password&body=Old Passord:%0D%0ANew Password:">Email us</a> and we’ll change it for you!</p>

        <!--<p style="text-align: center">Use the form below to change your password.</p>

        <form name="passwordForm" method="post">
            <p>
                New Password:
                <br />
                <input type="password" name="password" data-ng-model="password" placeholder="Your Password" required="required" />
            </p>
            <p>
                Confirm New Password:
                <br />
                <input type="password" name="confirmPassword" data-ng-model="confirmPassword" placeholder="Confirm Your Password" data-ui-validate=" '$value==password' " data-ui-validate-watch=" 'password' " />
                <span data-ng-show="passwordForm.confirmPassword.$error.validator" style="color: #900;">Passwords do not match!</span>
            </p>
            <p>
                <button class="btn btn-primary" data-ng-click="sendPasswordChange()" data-prevent-default="data-prevent-default" data-ng-disabled="passwordForm.$invalid">Change Password</button>
            </p>
        </form>-->
    </div>

    <div data-ng-show="passwordChanged">
        <p>Your password has been successfully changed. Select the VSL Project you wish to work on at the bottom of the page, then click anywhere on the left-hand navigation panel to access your slides and course materials.</p>
    </div>
</div>
