<div class="spacing" data-ui-animate="">
    <header>
        <h3>{{title}}</h3>
    </header>

    <dl>
        <dt><dfn>What browsers/devices can I use with the 3X VSL Generator?</dfn></dt>
        <dd>Please be sure you are using the most up-to-date browser. For PCs, you can use IE 10+, Firefox 10+, Chrome 4+, Safari 4+ or Opera 10.5+. Android support (Android browser 2.1+, Chrome 25+). For Mac, we recommend Firefox 10+, Safari 4+, Chrome 4+. You can also use an iPad, but bear in mind that you will need to do any downloading or printing from your computer. iPad use comes in really handy for traveling, however it does count as one of your THREE (3) available devices that come with your membership. Bear in mind that using dated or non-approved browsers can cause videos to stop working and prevent you from saving data.</dd>
        <dt><dfn>I'm getting a &ldquo;video not found&rdquo; error.</dfn></dt>
        <dd>Either you have had your browser open to the Generator for longer than ten days, or you simply need to refresh or restart your browser. Often this is just the security feature of our videos kicking in. Restarting fixes the problem, assuming you are on a compatible browser (see FAQ question 1.) </dd>
<dt><dfn>I cannot take notes without having to stop the video I'm watching. Am I doing something wrong?</dfn></dt>
        <dd>The General Notes field, under &ldquo;Getting Started/The 3X VSL Notepad&rdquo;, can only be accessed at this time by pausing your video and clicking on the &ldquo;General&rdquo; notes link. However, a trick I recommend is right-clicking on the General link, opening the link in a new tab, and adding notes this way. You will not see your notes in your primary VSL Generator window until you refresh your page, but they are being stored.</dd>
<dt><dfn>I want to edit a note. How do I do that?</dfn></dt>
<dd>Notes cannot be edited at this time, as they are just, well, notes. Here's what you do instead: just copy the note field you want to edit, create a new note by clicking the blue button under the note field, and then paste the contents into that field. Edit them until your heart's content. Then you can delete the original note.</dd>

<dt><dfn>Sometimes when I exit my browser and log back in, my VSL(s) do not show up. Did I lose my work?</dfn></dt>
<dd>Not at all. This is an issue of regarding your browser's cache. Simply refresh the page and your VSL(s) will magically reappear.</dd>
<dt><dfn>I am getting an error when trying to enter a note or slide.</dfn></dt>
<dd>You may not have created a VSL yet. You cannot enter data, even notes, without clicking the &ldquo;NEW VSL&rdquo; button at the bottom left portion of your screen. Do this, title your VSL, and your notes and/or slides will be able to be saved.</dd>
<dt><dfn>Can I add slides after I've saved and moved on to a different section?</dfn></dt>
<dd>Not at this time. That will be a feature added to Version 2.1. For now, I recommend simply editing the existing slide by adding a paragraph return, &ldquo;---&rdquo;, and typing the new slide or slides in after. The --- will let you know to make those text bits into slides when you are working in your final Powerpoint file.</dd>
<dt><dfn>Can I add graphics or bold/italic text in the Generator?</dfn></dt>
<dd>Not at this time, however we are considering that in an upcoming release. All font treatment (colors, bolding, italics, etc.) and graphics are to be added to your final Powerpoint file.</dd>
<dt><dfn>How do I add my audio to my VSL?</dfn></dt>
<dd>Please watch the videos under 'Producing Your VSL' for complete tutorials on how to record audio, and record your final VSL for Internet-ready publication.</dd>

</dl>

</div>
