<div data-ui-animate="">
    <header>
        <h3>{{title}}</h3>
    </header>

    
    <p data-ng-show="passwordSent">Please check your email ({{email}}) to retrieve your password. Then <a href="#/login">Login</a></p>
    <p style="color: #900; font-weight: bold;" data-ng-show="passwordError != ''" data-ng-model="passwordError"></p>

    <!--<p>If you have forgotten your password, please send an email to <a href="mailto:support@3xvsl.com">support@3xvsl.com</a> with your email address and the password you wish to change to. The forgotten password feature will be reinstaded in a few weeks.</p>-->

    <p>Forgot your password? <a href="mailto:leeann@ramirami.com">Email us</a> and we’ll send it to you!</p>

    <!--<p style="text-align: center;" data-ng-hide="passwordSent">Please enter your email address below and we will send your password out. Please only click the "Send Password" button once, otherwise you may receive duplicate emails. Thanks!</p>

    <form name="login" method="post" data-ng-hide="passwordSent">
        <p>
            Email Address:
            <br />
            <input type="text" data-ng-model="email" placeholder="youremail@yourdomain.com" required="required" />
        </p>
        <p>
            <button class="btn btn-primary" data-ng-click="sendPasswordForgotten()" data-prevent-default="data-prevent-default" data-ng-disabled="login.$invalid">Send Password</button>
        </p>
    </form>-->
</div>
