<div class="spacing" data-ui-animate="">
    <header>
        <h3>{{title}}</h3>
    </header>

    <div data-ng-hide="hasSpf">
        You do not have The $5 Million Sales Letter Formula. You can purchase it <a href="https://ramirami.com/5m-sales-letter-formula/discount.html">here</a>. For users that previously purchased this item, we have completed our upgrades and you should be able to logout, refresh your browser, log back in, and see the videos here. If you have any problems, contact support@3xvsl.com. Thank you!
    </div>


    <div style="text-align: center; margin: 0 auto;" data-ng-show="hasSpf">
    <p style="text-align: center;"><strong>Part 1</strong></p>
        <iframe src="http://player.vimeo.com/video/104033420" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div><br />

    <div style="text-align: center; margin: 0 auto;" data-ng-show="hasSpf">
    <p style="text-align: center;"><strong>Part 2</strong></p>
        <iframe src="http://player.vimeo.com/video/103096730" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe><br /><br />
    </div>

    <ul style="list-style: none;" data-ng-show="hasSpf">
        <li><a href="http://7230a0da2b71a8407e34-c7cfbb35d91badbc9290f552c56163d7.r31.cf1.rackcdn.com/5MSalesLetterFormula_Slides.pdf" target="_blank">Download The Slides</a></li>
        <li><a href="http://7230a0da2b71a8407e34-c7cfbb35d91badbc9290f552c56163d7.r31.cf1.rackcdn.com/5MSalesLetterFormula_Transcript.pdf" target="_blank">Download The Transcript</a></li>
        <li><a href="https://003e008fd6a16e541710-c7cfbb35d91badbc9290f552c56163d7.ssl.cf1.rackcdn.com/OpenClickBuy_2015.pdf" target="_blank">Download <cite>Open, Click, Buy</cite></a></li>
    </ul>

</div>
