<div class="spacing" data-ui-animate="" data-ng-init="time='20';">
    <header>
        <h3>{{title}}</h3>
    </header>
    
    <div style="text-align: center; margin: 0 auto;">
        <iframe src="http://player.vimeo.com/video/76291963" width="500" height="376" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

    <ul style="list-style: none;">
        <li><a href="http://7230a0da2b71a8407e34-c7cfbb35d91badbc9290f552c56163d7.r31.cf1.rackcdn.com/20MinVSLFormula_Transcript.pdf" target="_blank">Download the transcript</a></li>
        <li><a href="http://7230a0da2b71a8407e34-c7cfbb35d91badbc9290f552c56163d7.r31.cf1.rackcdn.com/20MinVSL_CaseStudySlides.pdf" target="_blank">Download Case Study File</a></li>
        <li><a href="https://vimeo.com/user18042183/review/76239700/14399ecd09" target="_blank">View Case Study VSL</a></li>
    </ul>
</div>