<div class="spacing" data-ui-animate="" data-ng-init="section='Part 1:1 Overview + Conspiracy Cycle'; step='Step 3: The Big Problem'; video='1-BigProblemOverview.mp4'">
    <header>
        <h3>{{title}}</h3>
    </header>

        <div style="text-align: center; margin: 0 auto;">
            <iframe src="http://player.vimeo.com/video/67445936" width="500" height="379" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowfullscreen data-ng-hide="hasScriptGenerator && !hasVsl"></iframe>
	        </div>

    <h5><a href="javascript: void(0);" data-prevent-default="" data-target=".tutorial" data-toggle="collapse"><span class="pull-right">&#x25BC;</span> Overview</a></h5>
    <div class="collapse in tutorial">

        <p>All about The Big Problem, the 'Conspiracy Theory' Model, and The Conspiracy Cycle. (There are no slides to create in this tutorial.)</p>
    </div>

    <div class="continue">
        <a href="#/big-problem/conspiracy-cycle/big-lie-transition" class="btn btn-success">Continue To Next Section &#x25B6;</a>
    </div>
</div>
