<div class="spacing" data-ui-animate="" data-ng-init="bonusTitle='Extended Q&A: Snap Suggestion'; video='Day4-Steps1-2-BonusQA.mp4'">
    <header><h3>{{title}}</h3></header>
        <div style="text-align: center; margin: 0 auto;">
            <iframe src="http://player.vimeo.com/video/67483190" width="500" height="379" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowfullscreen data-ng-hide="hasScriptGenerator && !hasVsl"></iframe>
	        </div>
    <p>&nbsp;</p>
    <div class="continue">
        <a href="#/q-a-recordings/big-problem-1" class="btn btn-success">Continue To Next Section &#x25B6;</a>
    </div>
</div>